#Password {
  padding-top: 0.8rem;
  box-sizing: border-box;
  height: calc(100% );
  background: #fff;
  overflow: auto;
}
#Password .box-wrap {
  padding: 0 0.50rem;
}
#Password .box-wrap .input-wrap {
  height: 100%;
  margin-bottom: 0.3rem;
  background: #f3f3f3;
  border-radius: 0.1rem;
  overflow: hidden;
}
#Password .box-wrap .input-wrap .icon {
  width: 0.48rem;
  height: 0.48rem;
}
#Password .box-wrap .input-wrap .am-list-item.am-input-item {
  background: #f3f3f3;
  height: 100%;
}
#Password .box-wrap .input-wrap .am-list-item .am-input-label.am-input-label-5 {
  width: 0.55rem;
}
#Password .box-wrap .input-wrap input {
  font-size: 0.32rem;
  box-sizing: border-box;
  background: #f3f3f3;
}
#Password .box-wrap .code {
  width: 58%;
  display: inline-block;
  vertical-align: top;
}
#Password .box-wrap .code-button {
  background: #29bfff;
  color: #ffffff;
  vertical-align: top;
  margin-left: 0.2rem;
  width: calc(42% - 0.2rem);
  display: inline-block;
  font-size: 0.32rem;
  line-height: 0.88rem;
  height: 0.88rem;
}
#Password .box-wrap .no-use {
  background: #ccc;
}
#Password .signin-button {
  margin-top: 0.8rem;
}
