#SocialBasic {
  height: 100%;
  font-size: 0.28rem;
}
#SocialBasic .title {
  height: 0.7rem;
  padding: 0 0.4rem;
  line-height: 0.7rem;
  color: #999;
  font-size: 0.24rem;
}
#SocialBasic .form-wrap {
  background: #fff;
  padding: 0 0.4rem;
}
#SocialBasic .form-wrap .form-list {
  border-bottom: 1px solid #ddd;
}
#SocialBasic .form-wrap .form-list span {
  display: inline-block;
  width: 5em;
  height: 1rem;
  line-height: 1rem;
}
#SocialBasic .form-wrap .form-list input {
  width: calc(100% - 5em);
  border: 0;
  height: 1rem;
}
#SocialBasic .form-wrap .form-list ::-webkit-input-placeholder {
  color: #bbb;
}
#SocialBasic .form-wrap .button-wrap {
  padding: 0.4rem 0;
}
