#MyAbout {
  background: #fff;
  height: 100%;
}
#MyAbout .logo {
  padding-top: 1rem;
  width: 100%;
  text-align: center;
}
#MyAbout .logo .icon {
  width: 1.4rem;
  height: 1.4rem;
}
#MyAbout .content {
  padding: 0.1rem 0.9rem;
  line-height: 0.5rem;
  font-size: 0.28rem;
  color: #666;
}
