/* autoprefixer: off */
#ShouYe {
  color: #333;
}
#ShouYe .banner {
  height: 3.8rem;
}
#ShouYe .flex-container {
  background: #fff;
}
#ShouYe .flex-container .am-flexbox {
  text-align: center;
}
#ShouYe .flex-container .tag {
  padding-top: 0.3rem;
  padding-bottom: 0.24rem;
}
#ShouYe .flex-container .tag span {
  display: inline-block;
  padding-top: 0.2rem;
  font-size: 0.28rem;
}
#ShouYe .flex-container .border-r {
  border-right: 1px solid #f6f6f6;
}
#ShouYe .flex-container .menu {
  width: 0.9rem;
}
#ShouYe .articeWrap {
  background: #fff;
  width: 100%;
}
#ShouYe .articeWrap .articeTitle {
  padding: 0.16rem 0.3rem 0.16rem 0.3rem;
  font-size: 0.28rem;
  border-bottom: 0.01rem solid #ddd;
}
#ShouYe .articeWrap .articeTitle .articeTitleName:before {
  content: '';
  display: inline-block;
  width: 0.08rem;
  height: 0.28rem;
  background: #29bfff;
  margin-right: 0.1rem;
  vertical-align: top;
  position: relative;
  top: 0.02rem;
}
#ShouYe .articeWrap .articeTitle .articeMore {
  float: right;
  color: #999;
  vertical-align: middle;
}
#ShouYe .articeWrap .articeTitle .articeMore .articeIcon {
  vertical-align: middle;
  height: 0.38rem;
  line-height: 0.27rem;
}
#ShouYe .articeWrap .articeTitle .articeMore .articeMoreText {
  vertical-align: middle;
  font-weight: normal;
  position: relative;
  left: 0.15rem;
}
#ShouYe .articeWrap .articelistWrap {
  padding: 0 0.3rem;
}
