#OrderDetails {
  overflow: auto;
  background: #fff;
  color: #333;
  min-height: 100%;
}
#OrderDetails .top-card {
  background: #fff;
  padding: 0.2rem;
  margin-bottom: 0.2rem;
}
#OrderDetails .top-card .title {
  width: 100%;
  text-align: center;
  font-size: 0.3rem;
  line-height: 0.7rem;
  font-weight: bold;
}
#OrderDetails .top-card .amount {
  width: 100%;
  text-align: center;
  font-size: 0.48rem;
  line-height: 0.7rem;
  font-weight: bold;
}
#OrderDetails .top-card .status {
  width: 100%;
  text-align: center;
  font-size: 0.30rem;
  color: #999;
  line-height: 0.36rem;
  margin-top: 0.22rem;
  margin-bottom: 0.32rem;
  font-weight: bold;
}
#OrderDetails .top-card .list {
  padding: 0.24rem 0.2rem 0;
  line-height: 0.4rem;
}
#OrderDetails .top-card .list span {
  display: inline-block;
}
#OrderDetails .top-card .list .label {
  color: #999;
  font-size: 0.24rem;
  font-weight: bold;
}
#OrderDetails .top-card .list .text {
  max-width: 80%;
  float: right;
  text-align: right;
  font-size: 0.24rem;
}
#OrderDetails .top-card .list .time {
  font-weight: normal;
}
#OrderDetails .top-card .no {
  padding-bottom: 0.3rem;
}
#OrderDetails .top-card .no .text {
  font-size: 0.24rem;
  font-weight: normal;
  word-wrap: break-word;
  text-align: left;
}
#OrderDetails .top-card .line {
  height: 1px;
  background: #ddd;
  margin-top: 0.3rem;
  margin-bottom: 0.1rem;
}
#OrderDetails .button {
  margin: 0 0.4rem;
}
#OrderDetails .am-button {
  font-size: 0.32rem;
}
#OrderDetails .payorder {
  font-size: 0.32rem;
  color: #fff;
  background: #ff4e2c;
}
#OrderDetails .code {
  padding: 0.2rem;
  border-top: 0.2rem solid #f3f3f3;
}
#OrderDetails .code .title {
  font-size: 0.24rem;
  color: #999;
  display: inline-block;
  padding: 0.1rem 0 0.15rem 0.2rem;
  letter-spacing: 1px;
  font-weight: bold;
}
#OrderDetails .code .bar-Code {
  width: 100%;
  text-align: center;
  margin-bottom: 0.52rem;
}
#OrderDetails .code .bar-Code img {
  width: 6.06rem;
  height: 1.66rem;
}
#OrderDetails .code .bar-Code p {
  margin: 0;
}
