#Login {
  padding-top: 0.98rem;
  box-sizing: border-box;
  height: calc(100% );
  background: #fff;
  overflow: auto;
}
#Login .logo {
  text-align: center;
}
#Login .logo .icon {
  width: 1.6rem;
  height: 1.6rem;
}
#Login .logo p {
  font-family: "PingFang SC";
  font-size: 0.36rem;
  font-weight: 500;
  letter-spacing: 1px;
}
#Login input {
  height: 1rem;
  touch-action: none;
}
#Login .box-wrap {
  padding: 0 0.50rem;
}
#Login .box-wrap .input-wrap {
  height: 100%;
  margin-bottom: 0.3rem;
  background: #f3f3f3;
  border-radius: 0.1rem;
  overflow: hidden;
}
#Login .box-wrap .input-wrap .icon {
  width: 0.48rem;
  height: 0.48rem;
}
#Login .box-wrap .input-wrap .am-list-item.am-input-item {
  background: #f3f3f3;
  height: 100%;
}
#Login .box-wrap .input-wrap .am-list-item .am-input-label.am-input-label-5 {
  width: 0.55rem;
}
#Login .box-wrap .input-wrap input {
  font-size: 0.32rem;
  box-sizing: border-box;
  background: #f3f3f3;
}
#Login .button-wrap {
  margin-top: 0.5rem;
}
#Login .button-wrap .button {
  background: #29bfff;
  height: 0.94rem;
  margin-bottom: 0.28rem;
}
#Login .button-wrap .forget {
  display: inline-block;
  min-width: 0.44rem;
  height: 0.44rem;
  color: #999;
  font-size: 0.28rem;
}
#Login .button-wrap .signin {
  min-width: 0.44rem;
  height: 0.44rem;
  color: #999;
  float: right;
  font-size: 0.28rem;
}
