body {
  overflow:auto;
  margin: 0;
  padding: 0;
  color: #555;
  font-family: sans-serif;
  height:100%;
}
html{
  height:100%;
}
#root{
  height:100%;
}
.clearfix{
  zoom: 1;
}
.clearfix:after{
  content: '';
  display: block;
  clear:both;
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.am-button-primary{
  background:#29bfff;
}