#ChangePassword {
  height: 100%;
  color: #555;
}
#ChangePassword .input-wrap {
  background: #fff;
  padding: 0 0.3rem;
}
#ChangePassword .input-wrap .input-list {
  height: 1rem;
  line-height: 1rem;
  border-bottom: 1px solid #ddd;
}
#ChangePassword .input-wrap .input-list span {
  display: inline-block;
  padding: 0 0.1rem;
  width: 7em;
  box-sizing: border-box;
}
#ChangePassword .input-wrap .input-list input {
  box-sizing: border-box;
  height: 100%;
  border: 0;
  display: inline-block;
  width: calc(100% - 7em);
}
#ChangePassword .input-wrap .input-list:last-child {
  border: 0;
}
#ChangePassword .saveButton {
  margin: 0.2rem;
  margin-top: 0.6rem;
}
